* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.btn-start,
.btn-stop {
  text-decoration: none;
  display: inline-block;
  margin: 10px 20px;
  padding: 15px 30px;
  overflow: hidden;
  border-radius: 30px;
  border-bottom-width: 4px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: rgb(16, 16, 17);
  background: rgb(40, 118, 49);
  transition: color 0.3s, background 0.5s;
}

.value {
  display: inline-block;
  margin-right: 5px; /* Відступ зліва */
  border: 1px solid #000; /* Рамка навколо тексту */
  padding: 3px; /* Поля навколо тексту */
}
